* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-padding-top: 5rem;
    scroll-behavior: smooth;
}

body {
    margin: 0px 7px;
}
.header {
    height: 100px;
}
.logo {
    height: 100%;
    padding-left: 50px;
}

.logo img {
    height: 100%;  
    background-color: white;
}
.about-header {
      
}
.about-logo {
    height: 100%;
    padding-left: 0px;
    text-align: center;
}
.about-logo img {
    height: 400px;
   
    background-color: white;
}
.nav {
       margin: 30px 0px 20px;
       display: flex;
       /* background-color: rgb(138, 138, 138); */
       flex-direction: row;
       justify-content: space-between;
       padding: 22px 20px;
   
}
.button {
    background-color: aquamarine;
    border-radius: 10%;
    padding: 2px 10px;
    text-decoration: none;
    display: inline-block;
    
}
.content {
    padding-top: 50px;
    
}